APP_ID=2219492 # Telegram API ID
API_HASH='e2714facad4b32d083303781af4d5029' # Telegram API Hash
TOKEN=6114306244:AAGa3t2Jvp_OtvrjoF4uAnAM_wXcmArSfaY # Telegram Bot Token
ADMIN_QRUP=123 # Admin Grubunuzun Kimliği
ETIRAF_QRUP=456 # Etiraf Grubunuzun Kimliği
kanal=kmetiraf # Kanal Adı veya Kimliği
LOG_QRUP=-1001556282248 # Log Grubunuzun Kimliği
BOT_AD=@Karabakhetirafbot # Botunuzun Adı
etirafmsg=**Etirafını necə paylaşım ?** 🤔 # Etiraf Mesajı
startmesaj=**Salam, Xoş Gəldin** __Heçkimə demədiyin etirafları mənə deyə bilərsən__ 🤭 # Başlangıç Mesajı
etirafyaz=your_message_to_etiraf # Etiraf Mesajı Yazısı
qrupstart=✅ **Mən Aktivəm !** 💌 **Etiraf yazmaq üçün şəxsidən yazın # Grup Başlangıç Mesajı
gonderildi=✅ **Etirafınız göndərildi Adminlər tərəfindən təsdiq olunduqdan sonra @kmetiraf kanalında paylaşılacaq** # Gönderilen Mesajın Onayı
support=kaarabachhbot # Destek Bağlantısı
sahib=sjrvan # Bot Sahibinin Kullanıcı Adı
